body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding-bottom: 100px;
    
}

.inside-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 150px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    
    
}


.top-container {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
   gap: 30px;
   margin-bottom: 20px;
}

.hero-main {
    width: 400px;
   
}

.box-header {
    
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
   margin-bottom: 5px;
}
.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.middle-header {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom:  20px;
}

.middle-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}

.block {
    width: 300px;
}

.text {
    flex-wrap: wrap;
}

ul, a {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    gap: 20px;
    
}

.block-border {
    border: 2px solid black;
}

img {
    height: 200px;
    width: 300px;
}

.sign-up {
    color: white;
    background-color: #3882f6;
    border-radius: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}